
<div class="container">
  <div class="row">
   <div class="col-12">

    <h1>Expertises#edit</h1>

      <%= simple_form_for @expertise do |f| %>
       <%= f.input :category, collection: ["Sureté", "Sécurité", "Coordination SSI", "Sécurité electronique"] %>
       <%= f.input :description %>
       <%= f.input :address %>
       <%= f.input :daily_rate %>
       <%= f.button :submit, class: "btn-primary" %>
      <% end %>
      <p>Find me in app/views/expertises/edit.html.erb</p>

    </div>
  </div>
</div>


