<h1 class="h1-in-pages">List of all Expertises available</h1>
  <div class="row col-6 search-form-control from-group">
    <%= form_tag expertises_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an expertise"
    %>
    <%= button_tag "Search", class: "btn btn-flat" %>
    <% end %>
  </div>

<div class="flex-container">


  <div class= "row col-12 col-lg-8">

    <% @expertises.each do |expertise| %>
    <div class="flex_item card-product">
      <% if expertise.category == "security" %>
      <%= image_tag "security.png" %>
      <% elsif expertise.category == "safety"%>
      <%= image_tag "safety.png" %>
      <% elsif expertise.category == "systems" %>
      <%= image_tag "systems.png" %>
      <% elsif expertise.category == "cybersecurity" %>
      <%= image_tag "cybersecurity.png" %>
      <% else %>
      <img src="xxx" alt= "no image">
      <% end %>

      <% if expertise.user.last_name == "Vella" %>
      <%= image_tag "eddy.jpeg" %>
      <% elsif expertise.user.last_name == "Ktorza"%>
      <%= image_tag "lionel.jpeg" %>
      <% else %>
      <img src="xxx" alt= "no image">
      <% end %>

      <div class="card-product-infos">
        <h2>
        <%= link_to expertise.category, expertise_path(expertise)%>
        </h2>

      </div>

    </div>
    <% end %>
      <div class="row col-12 margin-button-index-expertise">
      <%= link_to 'Add a new Expertise!', new_expertise_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row map">
      <div
        id="map"
        style="width: 500px;
        height: 600px;"

        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    <br>

  </div>
</div>
