
<h1 class="h1-in-pages">My expertises</h1>

<div class="flex-container col-8">
  <div class=flex-item>


<div class= "row col-12 col-lg-8">

    <% @myexpertises.each do |expertise| %>
    <div class="flex_item card-product">
      <% if expertise.category == "security" %>
      <%= image_tag "security.png" %>
      <% elsif expertise.category == "safety"%>
      <%= image_tag "safety.png" %>
      <% elsif expertise.category == "systems" %>
      <%= image_tag "systems.png" %>
      <% elsif expertise.category == "cybersecurity" %>
      <%= image_tag "cybersecurity.png" %>
      <% else %>
      <img src="xxx" alt= "no image">
      <% end %>

      <% if expertise.user.last_name == "Vella" %>
        <%= image_tag "eddy-small.png" %>
      <% elsif expertise.user.last_name == "Ktorza"%>
        <%= image_tag "lionel-small.png" %>
      <% elsif expertise.user.last_name == "Cruise"%>
        <%= image_tag "tom-small.png" %>
      <% else %>
      <img src="xxx" alt= "no image">
      <% end %>

      <div class="card-product-infos">
        <h2>
        <%= link_to expertise.category, expertise_path(expertise)%>
        </h2>

      </div>

    </div>
    <% end %>
      <div class="row col-12 margin-button-index-expertise">
      <%= link_to 'Add a new Expertise!', new_expertise_path, class: "btn btn-primary" %>
    </div>
  </div>

  </div>
</div>

