<div class="container">
  <div class="row">
   <div class="col-12">

     <h1 class="h1-in-pages text-center">Creation of a new expertise</h1>

      <%= simple_form_for @expertise do |f| %>
       <%= f.input :category, collection: ["security", "safety", "cybersecurity", "systems"] %>
       <%= f.input :description %>
       <%= f.input :address %>
       <%= f.input :daily_rate %>
       <%= f.button :submit, class: "btn-primary" %>
      <% end %>

      <%= link_to 'Index of all Expertises', expertises_path %>
   </div>
  </div>
</div>
