<!-- <div class="card-trip"> -->
<!-- <div class="card-trip-infos"> -->
  <h1><%= @expertise.user.last_name %></h1>
<h1 class="h1-in-pages">Expertise details</h1>
<div class="flex-container col-8">
  <div class=flex-item>
    <% if @expertise.category == "security" %>
      <%= image_tag "security-small.png" %>
    <% elsif @expertise.category == "safety"%>
      <%= image_tag "safety-small.png" %>
    <% elsif @expertise.category == "systems" %>
      <%= image_tag "systems-small.png" %>
    <% elsif @expertise.category == "cybersecurity" %>
      <%= image_tag "cybersecurity-small.png" %>
    <% else %>
      <img src="xxx" alt= "no image">
    <% end %>
  </div>


  <div class="flex-item" >
    <% if @expertise.user.last_name == "Vella" %>
      <%= image_tag "eddy-small.png", class: "img-show" %>
    <% elsif @expertise.user.last_name == "Ktorza" %>
      <%= image_tag "lionel-small.png", class: "img-show" %>
    <% elsif @expertise.user.last_name == "Cruise" %>
      <%= image_tag "tom-small.png", class: "img-show" %>
    <% else %>
     <%= image_tag "mib.jpg", class: "img-show" %>
    <% end %>

  </div>
</div>


<div class="flex-container col-8">
  <div class=flex-item>
    <h3><%= @expertise.category %></h3>
    <h3> <strong><%= @expertise.description %></strong></h3>
    <h3><%= @expertise.address %></h3>
    <h3>Daily rate: <%= @expertise.daily_rate %>€</h3>
  </div>
  <div class=flex-item>
    <h3><%= @expertise.user.first_name %> <%= @expertise.user.last_name %></h3>
  </div>
</div>


<div class="flex-container col-8">
<div class= "inline-buttons">

  <%= link_to "Delete", expertise_path(@expertise), method: :delete,  data: { confirm: "Are u sure you want to delete?"}, class: "btn btn-secondary" %>
  <%= link_to "Update", expertise_path(@expertise), method: :update,  data: { confirm: "Are u sure you want to edit?"}, class: "btn btn-secondary" %>

</div>

  <div class=flex-item>
<%= link_to "Book your expert!", new_expertise_mission_path(@expertise), class: "btn btn-success" %>
  </div>
</div>

<div class="flex-container col-8">
    <%= link_to 'Index of all Expertises', expertises_path %>
  </div>
<!--      <p class="card-trip-pricing"> Daily rate: <%= @expertise.daily_rate %>€</p> -->
<!--   </div> -->
<!-- </div> -->
