<h1><%= @expertise.category %></h1>
<h2><%= @expertise.description %></h2>
<h2><%= @expertise.address %></h2>
<h2><%= @expertise.daily_rate %></h2>
<h2><%= @expertise.user.last_name %> <%= @expertise.user.first_name %></h2>
