<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag "rocket.png" %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link"  %>
        <!-- <a class="nav-link" href="#">Home</a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <% if current_user.last_name == "Cruise" %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="http://image.noelshack.com/fichiers/2015/48/1448579616-03.png" />
        <% else %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://at-cdn-s01.audiotool.com/2015/12/15/users/kimjongun/avatar256x256-a33259782422459a90dd756fda42e9f5.jpg" />
        <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <!-- <a class="dropdown-item" href="#">My expertises</a> -->
           <%= link_to 'List of Expertises available', expertises_path, class: "dropdown-item" %>
          <%= link_to 'My Expertises', myexpertise_expertises_path, class: "dropdown-item" %>
          <%= link_to 'My Missions', mymission_missions_path, class: "dropdown-item" %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
